<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container mt-3">

  <div class="form">
    <%= simple_form_for([@garden, @plant]) do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <%= f.submit "Add a plant", class: "btn btn-primary" %>
    <% end %>
  </div>

  <h2>My Plants</h2>
  <ul>
    <% @plants.each do |plant| %>
      <li>
        <h3><%= plant.name %></h3>
        <img src="<%= plant.image_url %>" alt="">
        <%= link_to "Remove this plant", plant_path(plant), method: :delete, data: { confirm: "Are you sure?"}, class: "d-block" %>
      </li>
    <% end %>
  </ul>
</div>
